<header class="{{styles.secondary_header_container}}">    
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <h1 class="{{ styles.heading1 }}">Project review coordination</h1>
    </div>
    <div class="hidden md:block flex-initial">
        <div class="ml-10 flex items-baseline space-x-4">
          {% with url_name=request.resolver_match.url_name %}
            {% for link, link_details in navigation.items %}
              <a href="{% url link_details.url_name %}" class="{% if url_name == link %}{{ styles.secondary_header_nav_link_active }}{% else %}{{ styles.secondary_header_nav_link }}{% endif %}">
                {{ link_details.label }}
              </a>
            {% endfor %}
          {% endwith %}  
        </div>
      </div>
      <div class="flex-grow"></div>
</header>