{% extends "frontend/base.html" %}

{% load static %}

{% block main_head %}
    {{ block.super }}
    <script src="{% static 'frontend/page_course_component_details.js' %}"></script>
{% endblock %}

{% block main_content %}
  {% block content %}
    <div class="mx-auto w-1/2 p-6 bg-white rounded my-4">
      <h1 class="{{ styles.heading1 }}">
        {% block course_component_heading %}{% endblock %}
      </h1>

      {% block course_component_content %}{% endblock %}
    </div>
  {% endblock %}
{% endblock %}
