{% extends "frontend/base_logged_in.html" %}
{% load custom_tags %}

{% block content %}

<div class="mx-auto p-6 bg-white my-4 sm:w-11/12 lg:w-8/12 w-full overflow-auto">
<div x-data="{ open: true }" class="card relative cursor-pointer p-4 mb-4" @click="open = !open">
    <div class="flex justify-between items-center">
        <div class="font-['Poppins']">
            {% comment %} project or topic section {% endcomment %}
            <p>{{ course_component.content_item.content_type_nice }} </p>
            <h1 class="{{ styles.heading1 }}">
                {{ course_component.content_item.title }}
            </h1> 
            <p>
                Status: <span id="agile-card-status">{{board_status}}</span>
            </p>
        </div>
        <i class="ml-4 fa-solid fa-chevron-down transform" :class="{ 'rotate-180': open }"></i>
    </div>
    <div x-show="open" @click.stop class="content p-2 mb-2">
        <div class="grid grid-cols-4 gap-4">
            {% comment %} Details section {% endcomment %}
            <div class="col-span-1 space-y-2 font-['Poppins']">
                <div>Tags</div>
                <div>Assignees</div>
                {% if course_component.reviewer_users.all %}
                <div>Reviewers</div>
                {%endif%}
                <div>Start time</div>
                <div>Due time</div>
                <div>Review request time</div>
    
            </div>
            <div class="col-span-3 space-y-2">
                <div>{% with course_component.content_item.tag_names|length as array_length %}
                    {% for item in course_component.content_item.tag_names %}
            <span class="text-black text-opacity-90 text-xs font-light font-['Poppins'] leading-relaxed tracking-tight"><span class="bg-[gray] bg-neutral-800 bg-opacity-10 rounded-md pl-0.5 p-0.5">{{ item }}</span><span></span>
    
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                {% endwith %}</div>
                <div>Assignees</div>
                <div class="flex relative">
                    {% if course_component.reviewer_users.all %}
                      {% for reviewer in course_component.reviewer_users.all %}
                        <div class="-mx-1" title="{{ card.reviewer_names|join:', '}}">
                          <div class="border-2 rounded-full border-white">
                            {% user_avatar reviewer %}
                          </div>
                        </div>
                      {% endfor %}
                    {% endif %}
                  </div>
                <div>{{ course_component.start_time }}</div>
                <div>{{ course_component.due_time }}</div>
                <div>Review request time</div>
    
            </div>
        </div>
    </div>
</div>

 {% comment %} Link project submission {% endcomment %}
 {% if course_component.content_item.content_type_nice == "project" and course_component.content_item.project_submission_type_nice == "link" %}
<div x-data="{ open: true }" class="review relative cursor-pointer border-2 border-black/opacity-10 rounded p-4 mb-4" @click="open = !open">
    <div class="flex justify-between items-center">
        <h3 class="mb-2 font-['Poppins']">Link to your work</h3>
        <i class="ml-4 fa-solid fa-chevron-down transform" :class="{ 'rotate-180': open }"></i>
    </div>
    <div x-show="open" @click.stop>
        <div x-data="{ 
            isLinkSubmissionFormVisible: '{{ course_component.link_submission }}' === 'None' || {{ link_submission_form.errors|length }} > 0,
            isEditLinkSubmissionIconVisible: '{{ course_component.link_submission }}' !== 'None' && {{ link_submission_form.errors|length }} == 0,
            toggleLinkSubmissionForm(){
                this.isLinkSubmissionFormVisible = ! this.isLinkSubmissionFormVisible
                this.isEditLinkSubmissionIconVisible = ! this.isEditLinkSubmissionIconVisible
            }
        }" class="grid cols-4 bold p-2 gap-2 font-light font-['Poppins'] ">
        
        <div>Current link submission:
            {% if course_component.link_submission == None %}
                No link submitted yet
            {% else %}
            <a class="{{styles.link}} text-xs" href="{{course_component.link_submission}}" target="_blank">
                {{course_component.link_submission}}
            </a>
            {% endif%}
        </div>
        <button id="edit_link_submission_icon" class="{{ styles.button_primary_small }} max-w-max" x-show="isEditLinkSubmissionIconVisible" @click="toggleLinkSubmissionForm()">
            <i class="fa-solid fa-pen-to-square"></i> Edit link submission
        </button>
        
        <form id="link_submission_form" action="" method="post" x-show="isLinkSubmissionFormVisible" novalidate>
            {% csrf_token %}
            {% include 'frontend/includes/form_template.html' with form=link_submission_form %}
            <button class="{{ styles.button_primary_small }}" type="submit">Submit Link</button>
        </form>
    </div>
</div>
</div>
{% endif %}

{% if course_component.content_item.content_type_nice == "project" and course_component.content_item.project_submission_type_nice == "repo" or course_component.content_item.project_submission_type_nice == "continue_repo" %}
<div x-data="{ open: false }" class="review relative cursor-pointer border-2 border-black/opacity-10 rounded p-4 mb-4" @click="open = !open">
    <div class="flex justify-between items-center">
        <div class="mb-2 font-['Poppins']">Repo details</div>
        <i class="ml-4 fa-solid fa-chevron-down transform" :class="{ 'rotate-180': open }"></i>
    </div>
    <div x-show="open" @click.stop>
        <div class="relative">
            <div class="grid grid-cols-4">            
             <div class="col-span-1 font-['Poppins'] space-y-2">
                <div>Repository</div>
                <div>Open Pull Requests</div>
             </div>
            
             <div class="col-span-3 accordion-content space-y-2">
                <div>
                    <a id="repo-link" class="{{styles.link}}" href="{{course_component.repository.get_github_repo_link}}" target="_blank"><button class="{{ styles.button_secondary_small }}" title="Repository link">Repository link <i class="fa fa-github"></i></button></a>
                </div>
                {% if course_component.repository.pull_requests.all|length %}
                <div>
                    <ul class="list-disc">
                        {% for pr in course_component.repository.pull_requests.all %}
                            <li class="ml-4 mb-1">
                                <a id="pr_{{pr.number}}" class="{{ styles.link }} underline" href="{{ course_component.repository.get_github_repo_link }}/pull/{{ pr.number }}" target="_blank">{{ pr.title }} - {{ pr.created_at }}</a>
                            </li>
                        {% endfor %}
                    </ul>            
                </div>
                {% else %}
                <div>
                    <div class="text-xs font-['Poppins']">No open pull requests</div>
                </div>
                {%endif%}       
            </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if course_component.content_item.content_type_nice == "project" %}


<div class="review relative cursor-pointer border-2 border-black/opacity-10 rounded p-4 mb-4">
    <div class="flex justify-between items-center">
        <div class="mb-2 font-['Poppins']">Reviews</div>
    </div>
    <div class="reviews p-2 mb-2">
        
        {% if not course_component.reviews_queryset.all %}
            <div>
                <div class="font-['Poppins']">No reviews yet</div>
            </div>
        {% else %}

        <div class="accordion-content">
            <div id="reviews" class="grid gap-2 mt-2 max-h-44 overflow-y-scroll overflow-x-auto">
                {% for review in course_component.reviews_queryset.all %}
                    {% include "frontend/progress_details/partial_review.html" %}
                {% endfor %}
            </div>
        </div>

        {% endif %}
    </div>
</div>

<div class="flex space-x-2">
{% if course_component.request_user_can_add_review %}
<div x-data="{ modalOpen: false }">
    <button id="add_review_trigger_btn" @click="modalOpen = !modalOpen" class="{{ styles.button_primary_small }}"
        type="submit">Add Review</button>
    {% include "frontend/progress_details/partial_add_review_modal_content.html" %}
</div>
{% endif %}
<div>
    <div>
        {% comment %} <a class="{{styles.link}}" href="{{course_component.content_url}}" target="_blank">{{course_component.content_url}}</a> {% endcomment %}
        <button onclick="window.open('{{ course_component.content_url }}', '_blank')"
      class="w-[auto] h-6 pl-[7px] pr-[7px] bg-indigo-950 rounded shadow justify-start items-center inline-flex">
<span class="w-[auto] text-white text-xs font-semibold font-['Poppins'] leading-none text-xs">Content Link <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
</button>
    </div>         
</div>
</div>
{% endif %}
</div>
{% endblock %}




