{% load custom_tags %}
<div id="review-{{ review.id }}">
    <span class="text-xs">{{ review.timestamp|date:"d/m/Y, H:i:s" }}</span>
    <div class="flex items center gap-2">
        {% user_avatar review.reviewer_user %}
        <div class="">
            {{ review.reviewer_user.email }}
        </div>
    </div>
    <p class="line-clamp-1">
        {{ review.comments }} Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod neque, consequuntur
        veritatis
        iste aliquid modi deserunt repellendus laboriosam eum cum! Debitis accusamus temporibus facilis mollitia illo
        nihil
        omnis amet pariatur.
    </p>
    <div>
        <span
              class="text-black text-opacity-90 text-xs font-light font-['Poppins'] leading-relaxed tracking-tight"><span
                  class="bg-[gray] bg-neutral-800 bg-opacity-10 rounded-md pl-0.5 p-0.5">
                {{ review.get_status_display }}
            </span><span></span>

    </div>


    <div x-data="{ modalOpen: false }">
        <button @click="modalOpen = !modalOpen"
                class="{{ styles.button_secondary_small }}"
                type="submit">Read more</button>
        {% include "frontend/progress_details/partial_preview_review.html" %}
    </div>
</div>