<form
        id="review-form"
        hx-post="{% url 'action_add_review' course_component.content_item.content_type_nice course_component.id %}"
        hx-swap="afterbegin"
        hx-target="#reviews"
        hx-target-4xx='#review-form-wrapper'
        hx-on::after-request="handleReviewResponse(event)"
        x-on:review-submitted="modalOpen = false"
>
    {% csrf_token %}
    {{ review_form.as_p }}
    <div class="flex justify-between">
        <button @click="modalOpen = false" class="{{ styles.button_secondary_small }}" type="button">
            Cancel
        </button>
        <button id="submit-review-button" class="{{ styles.button_primary_small }}" type="submit">
            Submit Review
        </button>
    </div>
</form>

<script>
    function handleReviewResponse(evt) {
        if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 400) {
            evt.detail.isError = false;
            evt.detail.etc.swapOverride = 'innerHTML';
            evt.detail.shouldSwap = true;
        } else {
            htmx.trigger('#review-form', 'review-submitted');
        }
    }
</script>