{% extends 'frontend/partial_modal_base.html' %}
{% block modal_content %}
    <form hx-post="{% url 'action_add_review' course_component.content_item.content_type_nice course_component.id %}" x-on:htmx:after-request="modalOpen = false">
        {% csrf_token %}
        {{ review_form.as_p}}
        <button class="{{ styles.button_primary_small }}" type="submit">Submit Review</button>
        <button @click="modalOpen = false" class="{{ styles.button_secondary_small }}" type="button">Cancel</button>
    </form>
    
{% endblock modal_content %}

