{% load custom_tags %}
<div>
  <div id="review-{{ review.id }}" class="flex flex-wrap relative shadow-md rounded p-3 pt-2 hover:bg-slate-100">
    <div class="flex items-center gap-2">
      {% user_avatar review.reviewer_user %}
      <div class="flex flex-col">
        <div class="text-xs tracking-tight">{{ review.timestamp|date:"d F Y H:i" }}</div>
        <div class="">{{ review.reviewer_user_email }}</div>
      </div>
    </div>
    <div class="w-full md:w-auto">
      <div class="lg:ml-4 lg:mr-4 md:ml-4 md:mr-4 lg:mt-5 md:mt-5 sm:pb-2 self-center md:inline-block block text-sm">
        <p class="">
          {% if review.comments|length > 11 %}
            {{ review.comments|slice:11|markdownify|striptags }}...
            {% else %}
            {{ review.comments|markdownify|striptags }}
          {% endif %}</p>
      </div>
      <div class="flex">
        <div x-data="{ modalOpen: false }"
          class="gap-2 lg:absolute md:absolute lg:right-2 md:right-2 lg:top-5 md:top-5">
          <span class="{{ styles.badge_secondary }}">{{ review.status }}</span>
          {% if review.comments|length > 11 %}
          <button @click="modalOpen = !modalOpen" class="{{ styles.button_secondary_small }}" type="button">
            Read more
          </button>
          {% include "frontend/progress_details/partial_review_preview.html" %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>