{% extends 'frontend/partial_modal_base.html' %}
{% load custom_tags %}
{% block modal_header %}
<div class="hidden md:block">{% user_avatar request.user %}</div>
<div class="flex flex-col gap-0">
    <h1 class="font-bold leading-tight text-gray-800 ">
        Add Review for {{ course_component.content_item.content_type_nice|slice:1|title }}: {{ course_component.content_item.title }}
    </h1>
</div>
{% endblock modal_header %}

{% block modal_content %}
<div id='review-form-wrapper'>
    {% include 'frontend/progress_details/partial_review_form.html' %}
</div>
{% endblock modal_content %}