{% extends "frontend/project_review_coordination/base.html" %}

{% block heading %}Unclaimed bundles{% endblock %}


{% block main %}

    {% for bundle in bundles %}
    <div id="bundle_{{ forloop.counter0 }}" 
    class="mb-3 p-2 rounded-xl border-2 relative {% if bundle.is_trusted %}border-indigo-300{% endif %}"
    >
    <div>
        <h3 class="font-bold inline-block">{{ bundle.title }}</h3> {{ bundle.flavours }}
    </div>
    <div>
        {{ bundle.tags }}
    </div>
    {% if bundle.is_trusted %} 
    <div 
    class="absolute top-0 right-0 bg bg-yellow-300 text-xs text-black py-1 px-2 mt-2 mr-2 border-2 border-yellow-400 rounded-full"
    title="You are trusted on these projects"
    >
        trusted
    </div>
    {% endif %}
        <br/>
        Number of cards = {{ bundle.card_count }}
        <br/>
        Oldest review request time: {{ bundle.oldest_review_request_time | date:"r"}}
        <br/>

        <form>
                {% csrf_token %}

                <button
                hx-trigger="click"
                hx-target="#bundle_{{ forloop.counter0 }}"
                hx-swap="outerHTML"
                hx-post="{% url 'action_project_review_coordination_claim_bundle' %}"
                
                hx-vals='js:{project_ids: {{ bundle.project_ids }} }'
                class="{{ styles.button_primary_small }}"
                >Claim</button>
            </form>
        </div>
    {% endfor %}

{% endblock %}