{% load custom_tags %}
<div class="flex items-center sm:justify-center">
    <table class="*:text-left text-sm w-full">
        <thead>
            <tr class="*:border *:bg-gray-100 *:px-4 *:py-1">
                <th>Project</th>
                <th>Assignee</th>
                <th class="md:text-center">Positive Reviews</th>
                <th>Staff Reviewers</th>
            </tr>
        </thead>
        <tbody class="flex-1 sm:flex-none">
            {% for project in projects %}
                {% with assignee=project.recruit_users.first card=project.agile_card %}
                    <tr class="*:border *:px-4 *:py-1">
                        <td>
                            <a target="_blank" class="{{ styles.link }}" href="https://tilde-front-dot-umuzi-prod.nw.r.appspot.com/card/{{ card.id }}">
                                {{ project.content_item}}
                            </a> 
                        </td>
                        <td>
                            <a class="{{ styles.link }}" href="{% url 'user_board' assignee.pk %}">{{ assignee }}</a>
                        </td>
                        <td class="md:text-center">
                            {{ project.code_review_competent_since_last_review_request|add:project.code_review_excellent_since_last_review_request }}
                        </td>
                        <td class="break-words hyphens-auto">
                            {% if project.users_that_reviewed_since_last_review_request %}
                                {% for user in project.users_that_reviewed_since_last_review_request %}
                                    {% if user.is_staff %}
                                        {{ user }} {% if not forloop.last %}, {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</div>