{% load custom_tags %}
<div class="flex flex-wrap gap-2">
    {% for project in projects %}
    <div class="bg-white drop-shadow border rounded-lg p-2.5 ">
        <div class="flex gap-2 items-center">
            {% user_avatar project.recruit_users.first %}
            <a href="#">{{ project.recruit_users.first }}</a>
        </div>
        <div class="text-xs mt-2">
            <dl>
                <dt class="font-bold">Positive Reviews Since Last Request</dt>
                <!-- prettier-ignore -->
                <dd>{{ project.code_review_competent_since_last_review_request|add:project.code_review_competent_since_last_review_request }}</dd>
                <dt class="font-bold">Staff Reviewers Since Last Request</dt>
                <!-- prettier-ignore -->
                <dd>
                    {% if project.project.users_that_reviewed_since_last_review_request %}
                        {% for user in project.users_that_reviewed_since_last_review_request %}
                            {% if user.is_staff %}
                                {{ user }} {% if not forloop.last %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                </dd>
            </dl>

            <a href="https://tilde-front-dot-umuzi-prod.nw.r.appspot.com/card/{{project.agile_card.id}}" class="{{ styles.link }}" target="_blank" rel="noopener">{{ project }}</a>
        </div>
    </div>
    {% endfor %}
</div>