<header class="{{styles.secondary_header_container}}">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <h1 class="{{ styles.heading1 }}">Viewing Team: {{ team.name }}</h1>
    </div>
    <div class="hidden md:block flex-initial">
        <div class="ml-10 flex items-baseline space-x-4">
          {% with url_name=request.resolver_match.url_name %}
            <a href="#" class="{% if url_name == 'team_dashboard'%}{{styles.secondary_header_nav_link_active}} {% else %}{{styles.secondary_header_nav_link}} {% endif %}">Dashboard</a>
            <a href="#" class="{% if url_name == '#'%}{{styles.secondary_header_nav_link_active}} {% else %}{{styles.secondary_header_nav_link}} {% endif %}">Card summary</a>
          {% endwith %}
        </div>
      </div>
      <div class="flex-grow"></div>
</header>