
{% if form.non_field_errors %}
    <ul class="my-2 text-sm {{styles.alert_error}}">
        {{ form.non_field_errors.as_ul }}
    </ul>
{% endif %}

{% for hidden_field in form.hidden_fields %}
    {% if hidden_field.errors %}
        <ul class="my-2 text-sm {{styles.alert_error}}">
            {% for error in hidden_field.errors %}
                <li>
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    <span class="font-bold">[{{ hidden_field.label }}]</span> {{ error }} 
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}

{% for field in form %}
    <div>
        {% if field.is_hidden %}
            {{ field }}
        {% else %}
            <label for="{{ field.id_for_label }}" class="{{ styles.label_small }}">{{ field.label_tag }}</label>
            {{ field }}
            {% if field.errors %}
                <ul class="{{ styles.field_error }}">
                    {% for error in field.errors %}
                        <li>
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <br>
        {% endif %}
    </div>
{% endfor %}