
{% if form.non_field_errors %}
    <ul class="my-4 {{styles.alert_error}}">
        {{ form.non_field_errors.as_ul }}
    </ul>
{% endif %}

{% for field in form %}
    <div class="">
        <label for="{{ field.id_for_label }}" class="{{ styles.label_small }}">{{ field.label_tag }}</label>
        {{ field }}
        {% if field.errors %}
            <ul class="{{ styles.field_error }}">
                {% for error in field.errors %}
                    <li>
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        {{ error }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <br>
    </div>
{% endfor %}