{% extends "frontend/auth/base.html" %} {% block content %}
<div class="mx-auto w-1/3 p-6 bg-white rounded">
  <h1 class="{{ styles.heading1 }}">Reset Password</h1>
  <hr class="my-3">
  {% if error %}
    <p>{{ error }}</p>
  {% else %}
    {% if form.non_field_errors %}
      <div class="border border-red-500 bg-red-100 rounded p-3 mb-4 text-sm">
        {% for field, error in form.non_field_errors.items %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <form action="" method="post">
      {% csrf_token %}
      <div class="flex flex-col gap-1">
        <label class="{{ styles.label_small }}" for="{{ form.new_password1.id_for_label }}">
          {{ form.new_password1.label }}
        </label>
        <input
          placeholder="************"
          class="{{ styles.input_small }}"
          id="{{ form.new_password1.id_for_label }}"
          name="new_password1"
          type="password"
          required
        />
        <ul class="text-sm my-2">
          {% for error in form.new_password1.errors %}
            <li class="text-red-500">{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="flex flex-col gap-1">
        <label class="{{ styles.label_small }}" for="{{ form.new_password2.id_for_label }}">
          {{ form.new_password2.label }}
        </label>
        <input
          placeholder="************"
          class="{{ styles.input_small }}"
          id="{{ form.new_password2.id_for_label }}"
          name="new_password2"
          type="password"
          required
        />
        <ul class="text-sm my-2">
          {% for error in form.new_password2.errors %}
            <li class="text-red-500">{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      <button class="{{ styles.button_primary_small }}" type="submit">Reset Password</button>
    </form>

    {% endif %}
</div>
{% endblock %}
