{% extends "frontend/user/base.html" %}
{% block content %}
  <div class="mx-auto w-1/3 p-6 bg-white rounded">
    <h1 class="{{ styles.heading1 }}">Permission Denied</h1>
    <hr class="my-2" />
    
    {% if messages %}
      {% for message in messages %}
        <div class="{{ message.extra_tags }}" role="alert">
          <div class="text-sm leading-relaxed">{{ message.message }}</div>
        </div>
      {% endfor %}
      <br />
    {% endif %}
    
    <p>
      You don't have permission to view this page. If you think you should have
      permission, then please reach out to a staff member so this can be
      corrected.
    </p>
  </div>
{% endblock content %}
