{% extends "frontend/auth/base.html" %}
{% block auth_heading %}Reset Password{% endblock %}
{% block auth_content %}
  <form action="" method="post" novalidate>
    {% csrf_token %}
    
    {% for field in form %}
      <label for="{{ field.id_for_label }}" class="{{ styles.label_small }}">{{ field.label_tag }}</label>
      {{ field }}
      {% if field.errors %}
          <ul class="{{ styles.field_error }}">
              {% for error in field.errors %}
                  <li>
                      <i class="fa-solid fa-triangle-exclamation"></i>
                      {{ error }}
                  </li>
              {% endfor %}
          </ul>
      {% endif %}
      <br>
    {% endfor %}
    <button class="{{ styles.button_primary_small }}" type="submit">Reset Password</button>
  </form>
{% endblock %}