{% extends "frontend/auth/base.html" %}
<!DOCTYPE html>

{% block content %}
<div class="mx-auto w-1/3 p-6 bg-white rounded">
  <h1 class="text-lg">Forgot Password</h1>
  {% if request.messages %}
    {% for message in request.messages %}
        <p>
            <p>{{ message }}</p>
        </p>
    {% endfor %}
  {% endif %}

  <form action="{% url 'user_forgot_password' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br />
    <button class="bg-black text-white p-2 rounded" type="submit">Reset Password</button>
  </form>
</div>
{% endblock %}
