{% extends "frontend/auth/base.html" %} {% block content %}
<div class="mx-auto w-1/3 p-6 bg-white rounded">
  <h1 class="{{ styles.heading1 }}">Forgot Password</h1>
  <hr class="my-2" />
  {% for field, error in form.non_field_errors.items %}
    <p>{{ error }}</p>
  {% endfor %}

  <form action="{% url 'user_forgot_password' %}" method="post">
    {% csrf_token %}
    <div class="flex mb-3 flex-col">
      <label class="{{ styles.label_small }}" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
      <input placeholder="" value="{{ form.email.value|default:''}}" class="{{ styles.input_small }}" id="{{ form.email.id_for_label }}" name="email" type="email" required />
      <ul class="text-sm my-2">
        {% for error in form.email.errors %}
          <li class="text-red-500">{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    <button class="{{ styles.button_primary_small }}" type="submit">Reset Password</button>
  </form>
</div>
{% endblock %}
