{% extends "frontend/auth/base.html" %}
{% block content %}
<div class="mx-auto w-1/3 p-6 bg-white rounded">
  <h1 class="{{ styles.heading1 }}">Reset Password</h1>
  <hr class="my-3">
  {% if error %}
    <p>{{ error }}</p>
  {% else %}
    {% if form.non_field_errors %}
      <div class="border border-red-500 bg-red-100 rounded p-3 mb-4 text-sm">
        {% for field, error in form.non_field_errors.items %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p}}
      <button class="{{ styles.button_primary_small }}" type="submit">Reset Password</button>
    </form>

    {% endif %}
</div>
{% endblock %}
