{% extends "frontend/auth/base.html" %}
{% block auth_heading %}Forgot Password{% endblock %}
{% block auth_content %}
  <form action="{% url 'user_forgot_password' %}" method="post" class="my-4">
    {% csrf_token %}

    <div class="my-4">
      <a class="{{ styles.link }}" href="{% url 'user_login' %}">Back to login</a>
    </div>
   
    <label for="{{ form.username.id_for_label }}" class="{{ styles.label_small }}">{{ form.email.label_tag }}</label>
    {{ form.email }}
    {% if form.email.errors %}
      <ul class="{{styles.field_error}}">
          {% for error in form.email.errors %}
            <li class="">
              <i class="fa-solid fa-triangle-exclamation"></i>
              {{ error }}
            </li>
          {% endfor %}
      </ul>
    {% endif %}
    <br>

    <button class="{{ styles.button_primary_small }}" type="submit">Reset Password</button>
  </form>
{% endblock %}