<!-- TODO: make sure everything shows up in the right places -->
<!-- TODO: figure out how to get and use icons/svgs -->
<!-- TODO: style the card to look better -->

{% load humanize %}
{% load component_card_extras %}

<div
    class="rounded-xl p-2 ring-1 ring-gray-200 mb-3 shadow"
    id="card_{{ card.id }}" 
    data-status="{{card.status}}">
    <p>
        {{ card.content_type }}
    </p>

    <h3 
        class="{{ styles.heading3 }}">
        {{ card.title }}
    </h3>

    {% if card.status == "RF" or card.status == "IR" or card.status == "C" %}
        {% if card.code_review_competent_since_last_review_request %}
            <span> 
                C: {{card.code_review_competent_since_last_review_request}} 
            </span>
        {% endif %}
        {% if card.code_review_excellent_since_last_review_request %}
            <span> 
                E: {{card.code_review_excellent_since_last_review_request}} 
            </span>
        {% endif %}
        {% if card.code_review_not_yet_competent_since_last_review_request %}
            <span> 
                NYC: {{card.code_review_not_yet_competent_since_last_review_request}} 
            </span>
        {% endif %}
        {% if card.code_review_red_flag_since_last_review_request %}
            <span> 
                RF: {{card.code_review_red_flag_since_last_review_request}} 
            </span>
        {% endif %}
    {% endif %}

    {% if card.status == "IR" and card.review_request_time%}
        <p>
            Review requested {{card.review_request_time|naturaltime}} 
        </p>
    {% endif %}

    {% if card.due_time %}
        {% now "Y-m-d H:i:s" as current_datetime %}
        {% if card.due_time|date:"U" > current_datetime|date:"U" %}
            <p class="text-red-700">
                Due {{card.due_time|naturalday}} 
            </p>
        {% else %}
            <p>
                Due {{card.due_time|naturalday}} 
            </p>
        {% endif %}
    {% endif %}
    
    {% if card.flavour_names %}
    <div>Flavours: 

        {% for flavour_name in card.flavour_names %}
        
        <span>{{flavour_name}}</span> 
    
        {% endfor %}
    </div>

    {% endif %}

    {% if card.tag_names %}
    <div>Tags: 

        {% for tag_name in card.tag_names %}
        
        <span>{{tag_name}}</span> 
    
        {% endfor %}
    </div>

    {% endif %}
    
    {% if card.request_user_is_assignee == False %}
    
    <div>Assignee: <span>{{card.assignee_names.0}}</span> </div>
    
    {% endif %}

    {% if card.reviewer_names %}
    <div>Reviewers: 

        {% for reviewer_name in card.reviewer_names %}
        
        <span>{{reviewer_name}}</span> 
    
        {% endfor %}
    </div>
    {% endif %}

    {% if card.repo_url %}
        <p>
            Repo: <a href="{{card.recruit_project.repository.full_name|convert_git_url:card.recruit_project.repository.owner}}">{{card.recruit_project.repository.full_name|convert_git_url:card.recruit_project.repository.owner}}</a>  
        </p>
    {% endif %}

    {% if card.request_user_can_start %}
        <button type="button" class="{{ styles.button_primary_small }}"
            hx-post="{% url 'action_start_card' card.id %}"
            hx-target="#card_{{ card.id }}"
            hx-swap="outerHTML"
            >Start
        </button>
    {% endif %}

</div>
