{% load humanize %}

<div
  class="mb-3 max-w-md bg-white h-[auto] rounded overflow-hidden shadow-lg pl-2 {% if card.status == 'B' %}bg-zinc-500{% endif %} {% if card.content_type_nice == 'topic' %}bg-blue-500{% endif %} {% if card.content_type_nice == 'project' %}bg-purple-500{% endif %}"
  id="card_{{ card.id }}"
  data-status="{{card.status}}"
>
  <div
    class="max-w-md h-auto bg-white rounded-tr rounded-br overflow-hidden shadow-lg p-6 relative"
  >
    <!-- Dates and options -->

    <div class="grid grid-cols-11 gap-y-2 w-full h-10">
    
      <div class="flex gap-2 items-start col-span-10" title="Due time">
        {% if card.due_time %}
        <!-- <i class="fa-regular fa-clock fa-xsm mt-3"></i> -->
        {% now "U" as current_timestamp %}
        {% if current_timestamp > card.due_time|date:"U" %}
            <p class="text-red-600 text-sm text-black text-opacity-50 text-[5px] font-medium font-['Poppins']">
                {{card.due_time|naturalday}}, {{card.due_time|time}} 
            </p>
            {% else %}
            <p class="text-sm text-black text-opacity-50 text-[11px] font-medium font-['Poppins']">
                {{card.due_time|naturalday}}, {{card.due_time|time}} 
            </p>
        {% endif %}
        {% endif %}
        {% if card.complete_time %}
            <p class="text-green-600 text-sm text-black text-opacity-50 text-[11px] font-medium font-['Poppins']">
               {{card.complete_time|naturalday}}, {{card.complete_time|time}} 
            </p>
        {% endif %}
        {% if card.start_time %}
            <p class="text-purple-600 text-sm text-black text-opacity-50 text-[11px] font-medium font-['Poppins']">
               {{card.start_time|naturalday}}, {{card.start_time|time}} 
            </p>
        {% endif %}
      </div>
      <div class="col-span-1">
        <a href="#" class=""
          ><i class="fa fa-ellipsis-h" aria-hidden="true"></i
        ></a>
      </div>

    </div>

    <!-- Card status and PR info -->

    {% if card.status == "RF" or card.status == "IR" or card.status == "C" %}
        <div class="grid grid-cols-6 gap-y-2 w-full h-[auto]">
            <div class="col-span-1">
                {% if card.code_review_competent_since_last_review_request %}
                    <i class="fa fa-smaile-o" aria-hidden="true"></i>
                {% endif %}
                {% if card.code_review_ny_competent_since_last_review_request %}
                    <i class="fa fa-frown-o" aria-hidden="true"></i>
                {% endif %}
                {% if card.code_review_red_flag_since_last_review_request %}
                    <i class="fa-regular fa-face-sad-tear fa-lg"></i>
                {% endif %}
                {% if card.code_review_excellent_since_last_review_request %}
                    <i class="fa-regular fa-face-laugh-wink fa-lg"></i>
                {% endif %}
            </div>
            {% if card.open_pr_count and card.oldest_open_pr_updated_time%}
            <div class="col-span-5 text-black text-opacity-90 text-xs font-light font-['Poppins'] leading-tight tracking-tigh">
                <i class="fa fa-code-fork" aria-hidden="true"></i>Review requested {{card.review_request_time|naturaltime}} 
            </div>
            {% endif %}
        </div>
    {% endif %}

    <!-- Project info | name -->

    <div class="grid grid-cols-0 grid-rows-1 text-left">
      <p class="w-[195.72px] h-[auto] text-black text-xs font-medium font-'Poppins'">
        {{ card.content_type_nice }}
      </p>
      <h5
        class="w-[195.79px] h-[auto] text-black text-base font-bold font-'Poppins' leading-tight"
      >
        {{ card.title }}
      </h5>
    </div>

    <!-- Tags section -->

    {% if card.tag_names %}
    <div class="grid grid-cols-1 pt-2 gap-y-2 w-full h-[auto]">
        {% for tag_name in card.tag_names %}
            {%if tag_name != "none"%}
            <!-- The tag icons make this section look busy, added normal hashtags instead -->
            <span class="pr-1 pb-1 text-black text-opacity-90 text-xs font-light font-['Poppins'] leading-tight tracking-tight">#{{tag_name}}<span></span>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Flavours section -->

    {% if card.flavour_names %}
    <div class="grid grid-cols-1 gap-y-0 w-full h-[auto] pb-2">
        {% for flavour_name in card.flavour_names %}
            {%if flavour_name != "none"%}
                {%if flavour_name == "javascript"%}
                    <span title="{{flavour_name}}">
                        <i class="fa-regular fa-brands fa-js fa-lg"></i>
                    </span> 
                {%endif%}
                {%if flavour_name == "python"%}
                    <span title="{{flavour_name}}">
                        <i class="fa-regular fa-brands fa-python fa-lg"></i>
                    </span> 
                {%endif%}
                {%if flavour_name == "java"%}
                    <span title="{{flavour_name}}">
                        <i class="fa-regular fa-brands fa-java fa-lg"></i>
                    </span> 
                {%endif%}
                
            {% endif %}
            
        {% endfor %}
    </div>
    
    {% endif %}

    <!-- Horizontal line -->
 
    <hr class="border-gray-300 inset-x-0 absolute" />

    <!-- Assignee, reviewers and content button -->

    <div class="grid grid-cols-2 grid-rows-1 gap-x-10 gap-y-3 w-full h-[auto] pt-2">

      <div class="Assignee-avatar col-span-1 row-span-1">
        <div class="mb-2 text-xs text-indigo-950 font-['Poppins']">Assignee</div>
        <img
          class="w-[30px] h-[30px] rounded-full"
          src="https://images.unsplash.com/photo-1594751543129-6701ad444259?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMHByb2ZpbGV8ZW58MHx8MHx8fDA%3D"
          alt="{{'card.assignee_names[0]'}} profile picture"
        />
      </div>
      
      <div class="Reviewer-avatars col-span-1 row-span-1">
        <div class="mb-2 text-xs text-indigo-950 font-['Poppins']">Reviewers</div>
        <div class="flex">
          {% if card.reviewer_names %}
            {% for reviewer in card.reviewer_names %}
              <div class="flex -mx-2 overflow-hidden rounded-full border-2 border-white">
                <img class="w-[30px] h-[30px] rounded-full" src="https://media.istockphoto.com/id/1495088043/vector/user-profile-icon-avatar-or-person-icon-profile-picture-portrait-symbol-default-portrait.jpg?s=612x612&w=0&k=20&c=dhV2p1JwmloBTOaGAtaA3AW1KSnjsdMt7-U_3EZElZ0=" alt="{{ reviewer }} profile pictures" />
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      
      <div class="grid grid-cols-2 grid-auto-rows-1fr gap-x-10 gap-y-10 w-full h-[auto]">
        <div
          class="w-[78px] h-6 pl-[7px] pr-[21px] bg-indigo-950 rounded shadow justify-start items-center inline-flex"
        >
          <a
            href="{{card.content_item_url}}"
            class="w-[auto] text-white text-xs font-semibold font-['Poppins'] leading-none"
          >
              Content
          </a>
        </div>
      </div>
      <div class="Start-button col-span-1 row-span-1">
        {% if card.request_user_can_start %}
        <button
          type="button"
          class="{{ styles.button_primary_small }}"
          hx-post="{% url 'action_start_card' card.id %}"
          hx-target="#card_{{ card.id }}"
          hx-swap="outerHTML"
        >
          Start
        </button>
        {% endif %}
      </div>
      
    </div>
  </div>
</div>
