{% load humanize %}

<div
  class="mb-3 max-w-md bg-white h-[auto] rounded overflow-hidden shadow-lg pl-2 {% if card.status == 'B' %}bg-zinc-500{% endif %} {% if card.content_type_nice == 'topic' %}bg-blue-500{% endif %} {% if card.content_type_nice == 'project' %}bg-purple-500{% endif %}"
  id="card_{{ card.id }}"
  data-status="{{card.status}}"
>
  <div
    class="max-w-md h-auto bg-white rounded-tr rounded-br overflow-hidden shadow-lg p-6"
  >
    <!-- Date and options -->

    <div class="grid grid-cols-11 gap-y-2 w-full h-10">
      <div class="col-span-10">
        
        <p
          class="text-black text-opacity-50 text-[11px] font-medium font-['Poppins']"
        >
        {% if card.start_time != null %} {{ card.start_time }} {% endif %} {% if card.due_time != null %} {{ card.due_time }} {% endif %} {% if card.review_request_time != null %} {{ card.review_request_time }} {% endif %} {% if card.complete_time != null %} {{ card.complete_time }} {% else %} {{ "July 20 at 10:22 AM" }} {% endif %}
        </p>
      </div>
      <div class="col-span-1">
        <a href="#" class=""
          ><i class="fa fa-ellipsis-h" aria-hidden="true"></i
        ></a>
      </div>
    </div>

    <!-- Card status and PR info -->

    {% if card.status == "RF" or card.status == "IR" or card.status == "C" %}
        <div class="grid grid-cols-6 gap-y-2 w-full h-[auto]">
            <div class="col-span-1">
                {% if card.code_review_competent_since_last_review_request %}
                    <i class="fa fa-smaile-o" aria-hidden="true"></i>
                {% endif %}
                {% if card.code_review_ny_competent_since_last_review_request %}
                    <i class="fa fa-frown-o" aria-hidden="true"></i>
                {% endif %}
                {% if card.code_review_red_flag_since_last_review_request %}
                    <i class="fa-regular fa-face-sad-tear fa-lg"></i>
                {% endif %}
                {% if card.code_review_excellent_since_last_review_request %}
                    <i class="fa-regular fa-face-laugh-wink fa-lg"></i>
                {% endif %}
            </div>
            {% if card.open_pr_count and card.oldest_open_pr_updated_time%}
            <div class="col-span-5 text-black text-opacity-90 text-xs font-light font-['Poppins'] leading-tight tracking-tigh">
                <i class="fa fa-code-fork" aria-hidden="true"></i>Review requested {{card.review_request_time|naturaltime}} 
            </div>
            {% endif %}
        </div>
    {% endif %}

    <!-- Project info | name -->

    <div class="grid grid-cols-0 grid-rows-1 text-left">
      <p class="w-[195.72px] h-[auto] text-black text-xs font-medium font-'Poppins'">
        {{ card.content_type_nice }}
      </p>
      <h5
        class="w-[195.79px] h-[auto] text-black text-base font-bold font-'Poppins' leading-tight"
      >
        {{ card.title }}
      </h5>
    </div>

    <!-- Tags section -->

    {% if card.tag_names %}
    <div class="grid grid-cols-1 pt-2 gap-y-2 w-full h-10">
        {% for tag_name in card.tag_names %}
            {%if tag_name != "none"%}
            <span class="pr-1 text-black text-opacity-90 text-xs font-light font-['Poppins'] leading-tight tracking-tight">{{tag_name}}<span><i class="fa fa-tag" aria-hidden="true"></i></span>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Flavours section -->

    {% if card.flavour_names %}
    <div class="grid grid-cols-1 gap-y-0 w-full h-[auto]">
        {% for flavour_name in card.flavour_names %}
            {%if flavour_name != "none"%}
                {%if card.flavour_name != "java" or flavour_name != "javascript" or flavour_name != "python"%}
                    <span class="px-2" title="{{flavour_name}}">
                        {{card.flavour_name|first}}
                    </span> 
                {%endif%}
                {%if flavour_name == "javascript"%}
                    <span title="{{flavour_name}}">
                        <i class="fa-regular fa-brands fa-js fa-lg"></i>
                    </span> 
                {%endif%}
                {%if flavour_name == "python"%}
                    <span title="{{flavour_name}}">
                        <i class="fa-regular fa-brands fa-python fa-lg"></i>
                    </span> 
                {%endif%}
                {%if flavour_name == "java"%}
                    <span title="{{flavour_name}}">
                        <i class="fa-regular fa-brands fa-java fa-lg"></i>
                    </span> 
                {%endif%}

            {% endif %}
        {% endfor %}
    </div>
    {% else %} <div></div>
    {% endif %}

    <!-- Horizontal line -->
 
    <hr class="my-3 border-t border-gray-300 w-full divide-y-0" />

    <!-- Assignee, reviewers and content button -->

    <div class="grid grid-cols-2 grid-rows-3 gap-x-10 gap-y-3 w-full h-[auto]">
      <div class="Assignee text-indigo-950 text-xs font-normal font-['Poppins'] leading-none">Assignee</div>
      <div class="Reviewers text-indigo-950 text-xs font-normal font-['Poppins'] leading-none">Reviewers</div>
      
      <div class="Assignee-avatar col-span-1 row-span-1">
        <img
          class="w-[30px] h-[30px] rounded-full"
          src="https://images.unsplash.com/photo-1594751543129-6701ad444259?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMHByb2ZpbGV8ZW58MHx8MHx8fDA%3D"
          alt="{{'card.assignee_names[0]'}} profile picture"
        />
      </div>

      <div class="Reviewer-avatars col-span-1 row-span-1 flex">
        {% if card.reviewer_names %}
          {% for reviewer in card.reviewer_names %}
            <div class="flex -mx-2 overflow-hidden rounded-full border-2 border-white">
              <img class="w-[30px] h-[30px] rounded-full" src="https://media.istockphoto.com/id/1495088043/vector/user-profile-icon-avatar-or-person-icon-profile-picture-portrait-symbol-default-portrait.jpg?s=612x612&w=0&k=20&c=dhV2p1JwmloBTOaGAtaA3AW1KSnjsdMt7-U_3EZElZ0=" alt="{{ reviewer }} profile pictures" />
            </div>
          {% endfor %}
        {% endif %}
      </div>
      
      <div class="Content-button col-span-1 row-span-1">
        <div
          class="w-[78px] h-6 pl-[7px] pr-[21px] bg-indigo-950 rounded shadow justify-start items-center inline-flex"
        >
          <div
            class="w-[50px] text-white text-xs font-semibold font-['Poppins'] leading-normal"
          >
              Content
          </div>
        </div>
      </div>
      <div class="Start-button col-span-1 row-span-1">
        {% if card.request_user_can_start %}
        <button
          type="button"
          class="{{ styles.button_primary_small }}"
          hx-post="{% url 'action_start_card' card.id %}"
          hx-target="#card_{{ card.id }}"
          hx-swap="outerHTML"
        >
          Start
        </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
