{% extends "frontend/base_logged_in.html" %}

{% block content %}
    <div class="mx-auto p-6 bg-white my-4 sm:w-11/12 lg:w-8/12">
        <h1 class="{{ styles.heading1 }}">
            {{ course_component.content_item.title }}
        </h1>

        {% if course_component.content_item.content_type_nice == "topic"%}
            <div class="grid gap-4 my-4">

                <div  class="p-2 border-2 rounded-md grid gap-2">
                    <div class="p-2 border-2 rounded-md ">
                        Tag names: 
                        {% with course_component.content_item.tag_names|length as array_length %}
                            {% for item in course_component.content_item.tag_names %}
                                {{ item }}
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% endwith %}
                    </div>
                
                    <div class="p-2 border-2 rounded-md ">
                        <p>
                            Status : {{board_status}}
                        </p>
                    </div>

                    {% if duration %}
                        <div class="p-2 border-2 rounded-md ">
                            <p>
                                Duration in current column: {{duration}}
                            </p>
                        </div>
                    {% endif %}
                </div>
            
                <div class="p-2 border-2 rounded-md grid gap-2">
                    <div class="p-2 border-2 rounded-md ">
                        Assignees:
                        <ul class="mx-8">
                            <li>
                            {{ course_component.user }}
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="grid p-2 border-2 rounded-md gap-2">
                    <p class="p-2 border-2 rounded-md" >
                        Start Date: {{course_component.start_time}}
                    </p>

                    <p class="p-2 border-2 rounded-md">
                        Due Date: {{course_component.due_time}}
                    </p>
                </div>


                <div class="p-2 border-2 rounded-md ">
                    <p>
                        Content URL: 
                        <a class="{{styles.link}}" href="{{course_component.content_item.content_url}}" target="_blank">{{course_component.content_url}}</a>
                    </p>
                </div>
            </div>
        {% elif course_component.content_item.content_type_nice == "project"%}
            {% if course_component.content_item.project_submission_type_nice == "link" %}
                <div class="grid gap-4 my-4">
                    <div  class="p-2 border-2 rounded-md grid gap-2">
                        <div class="p-2 border-2 rounded-md ">
                            Tag names: 
                            {% with course_component.tag_names|length as array_length %}
                                {% for item in course_component.tag_names %}
                                    {{ item }}
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            {% endwith %}
                        </div>
                    
                        <div class="p-2 border-2 rounded-md ">
                            <p>
                                Status : {{board_status}}
                            </p>
                        </div>
                    </div>
                
                    <div class="p-2 border-2 rounded-md grid gap-2">
                    
                        <div class="p-2 border-2 rounded-md ">
                            Assignees:
                            <ul class="mx-8">
                                <li>
                                {{ course_component.recruit_user_names|first }}
                                </li>
                            </ul>
                        </div>
                
                        <div class="p-2 border-2 rounded-md ">
                            Reviewers: 
                            <ul class="mx-8">
                                {% for reviewer in course_component.reviewer_user_names%}
                                <li>{{reviewer}}</li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                    
                    <div class="grid p-2 border-2 rounded-md gap-2">
                        <p class="p-2 border-2 rounded-md" >
                            Start Date: {{course_component.start_time}}
                        </p>

                        <p class="p-2 border-2 rounded-md">
                            Due Date: {{course_component.due_time}}
                        </p>
                    </div>

                    <div class="p-2 border-2 rounded-md ">
                        <p>
                            Content URL: 
                            <a class="{{styles.link}}" href="{{course_component.content_url}}" target="_blank">{{course_component.content_url}}</a>
                        </p>
                    </div>

                    <div x-data="{ 
                        isLinkSubmissionFormVisible: '{{ course_component.link_submission }}' === 'None' || {{ link_submission_form.errors|length }} > 0,
                        isEditLinkSubmissionIconVisible: '{{ course_component.link_submission }}' !== 'None' && {{ link_submission_form.errors|length }} == 0,
                        toggleLinkSubmissionForm(){
                            this.isLinkSubmissionFormVisible = ! this.isLinkSubmissionFormVisible
                            this.isEditLinkSubmissionIconVisible = ! this.isEditLinkSubmissionIconVisible
                        }
                    }" class="grid bold p-2 border-2 rounded-md gap-2">
                        <h6>Link to your work</h6>
                        
                        <div>Current link submission: 
                            {% if course_component.link_submission == None %}
                                No link submitted yet
                            {% else %}
                            <a class="{{styles.link}}" href="{{course_component.link_submission}}" target="_blank">
                                {{course_component.link_submission}}
                            </a>
                            {% endif%}
                        </div>
                        <button id="edit_link_submission_icon" class="{{ styles.button_primary_small }} max-w-max" x-show="isEditLinkSubmissionIconVisible" @click="toggleLinkSubmissionForm()">
                            <i class="fa-solid fa-pen-to-square"></i> Edit link submission
                        </button>
                        
                        <form id="link_submission_form" action="" method="post" x-show="isLinkSubmissionFormVisible" novalidate>
                            {% csrf_token %}
                            {% include 'frontend/auth/form_template.html' with form=link_submission_form %}
                            <button class="{{ styles.button_primary_small }}" type="submit">Submit Link</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}




