{% extends 'frontend/base.html' %}
{% load static %}

{% block main_head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="{% static 'frontend/utils.js' %}"></script>
    {% block head %}{% endblock %}
{% endblock %}

{% block main_content %}
    <div class="min-h-full">
        {% include 'frontend/partial_logged_in_main_header.html' %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
