<!doctype html>
<html lang="en-US" class="h-full bg-gray-100">
  <head>
    <meta charset="utf-8" />
    <title>Tilde ~</title>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script> 
    {# TODO https://htmx.org/docs/#installing #}

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% block head %}{% endblock %}
  </head>
  <body class="h-full">
    <div class="min-h-full">
      {% include "frontend/components/main_header.html" %}
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>