<div class="inset-0 z-50 overflow-y-auto"
     :class="{'block fixed': modalOpen }"
     x-show="modalOpen"
     x-bind:data-modal-open="modalOpen"
     aria-labelledby="modal-title"
     role="dialog"
     aria-modal="true">
    <div class="flex items-end justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0">
        <div x-cloak
             @click="modalOpen = false"
             x-show="modalOpen"
             class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40"
             aria-hidden="true"></div>
        <div x-cloak
             x-show="modalOpen"
             class="inline-block {% block modal_classes %}w-full max-w-3xl{% endblock modal_classes %} p-4 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-2xl">
            <div class="flex items-center gap-2 justify-between">
                <div class="flex items-center gap-2">
                    {% block modal_header %}
                    {% endblock modal_header %}
                </div>
                <button @click="modalOpen = false"
                        class="text-gray-600 self-start focus:outline-none hover:text-gray-700">
                    <i class="fa fa-times-circle"> </i>
                </button>
            </div>
            <hr class="my-2">
            {% block modal_content %}{% endblock %}
        </div>
    </div>
</div>
