<div x-show="modalOpen"
     class="inset-0 z-50 overflow-y-auto"
     :class="{'block fixed': modalOpen }"
     aria-labelledby="modal-title"
     role="dialog"
     aria-modal="true">
    <div class="flex items-end justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0">
        <div x-cloak
             @click="modalOpen = false"
             x-show="modalOpen"
             x-transition:enter="transition ease-out duration-300 transform"
             x-transition:enter-start="opacity-0"
             x-transition:enter-end="opacity-100"
             x-transition:leave="transition ease-in duration-200 transform"
             x-transition:leave-start="opacity-100"
             x-transition:leave-end="opacity-0"
             class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40"
             aria-hidden="true"></div>

        <div x-cloak
             x-show="modalOpen"
             x-transition:enter="transition ease-out duration-300 transform"
             x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
             x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
             x-transition:leave="transition ease-in duration-200 transform"
             x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
             x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
             class="inline-block w-full max-w-xl p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-2xl">

             <div class="flex items-center justify-between">
                <div class="flex items-center gap-2">
                   {% block modal_header %}{% endblock modal_header %}
                </div>
                <button @click="modalOpen = false"
                        class="text-gray-600 hidden md:block focus:outline-none hover:text-gray-700">
                    <i class="fa fa-times-circle"> </i>
                </button>
            </div>
            <hr class="my-2">
            {% block modal_content %}

            {% endblock %}
        </div>
    </div>
</div>