{% extends "frontend/base.html" %}

{% block content %}
    <main>
        <table>
            <tr>
                {% for column in columns %}
                <th>{{ column.title }}</th>
                {% endfor %}
            </tr>
            <tr>

                {% for column in columns %}
                
                <td id="column_{{column.id}}"
                
                hx-get="{% url 'partial_user_board_column' user.id column.id %}?page=1"
                hx-trigger="load"
                hx-target="#column_{{column.id}}"
                hx-swap="beforeend"
                
                >
                    
                </td>
                {% endfor %}
            </tr>
        </table>        
    </main>
{% endblock %}