{% extends "frontend/base_logged_in.html" %}

{% block content %}
    <main x-data="{ 
        activeTab: 'teams'
     }" class="grid grid-cols-12 gap-4 mx-4 lg:mx-auto">
        <div
            id="teams"
            class="col-span-12 md:col-span-6 py-4"
            :class="{ 'hidden md:block': activeTab !== 'teams' }"
            >
            <div class="flex gap-2 flex-col">
                <div class="flex justify-between items-start">
                    <h1 class="{{ styles.heading1 }} pb-2" @click="activeTab = 'users'">Teams</h1>
                    <button
                        @click="activeTab = 'users'"
                        class="{{ styles.button_secondary_small }} md:hidden"
                        >
                        Show Users
                    </button>
                </div>
                <form method="post" action="" class="mb-3 relative flex items-center gap-1">
                    {% csrf_token %}
                    <input type="text" name="search_term" placeholder="Search Teams..." id="search-term-box" hx-post="{% url 'view_partial_teams_list' %}" hx-trigger="keyup changed delay:500ms" hx-target="#teams-list" hx-swap="innerHTML" hx-indicator="#team-search-loader" class="{{styles.input_small}} w-full lg:w-max">
                    <div id="team-search-loader" class="absolute htmx-indicator lg:relative right-0 px-2 lg:px-0 flex justify-end">
                        <i class="fa-solid fa-spinner fa-spin"></i>
                    </div>
                </form>
            </div>
            <div 
            class="rounded-xl p-3 ring-1 ring-gray-200 mb-1 shadow bg-white "
            id="teams-list"
                hx-get="{% url 'view_partial_teams_list' %}"
                hx-trigger="load"
                hx-target="#teams-list"
                hx-swap="beforeend"
                >
            </div>
            
        </div>
        <div 
            id="users"
            class="col-span-12 md:col-span-6 py-4"
            :class="{ 'hidden md:block': activeTab !== 'users' }"
            >
            <div class="flex gap-2 flex-col">
                <div class="flex justify-between items-start">
                    <h1 @click="activeTab = 'teams'" class="{{ styles.heading1 }} pb-2">Users</h1>
                    <button
                        @click="activeTab = 'teams'"
                        class="{{ styles.button_secondary_small }} md:hidden"
                        >
                        Show Teams
                    </button>
                </div>
                <form method="post" action="" class="mb-3 relative flex items-center gap-1">
                    {% csrf_token %}
                    <input type="text" name="search_term" placeholder="Search users..." id="user-search-term-box" hx-post="{% url 'view_partial_users_list' %}" hx-trigger="keyup changed delay:500ms" hx-target="#users-list" hx-indicator="#user-search-loader" hx-swap="innerHTML" class="{{ styles.input_small }} w-full lg:w-max">
                    <div id="user-search-loader" class="absolute htmx-indicator lg:relative right-0 px-2 lg:px-0 flex justify-end">
                        <i class="fa-solid fa-spinner fa-spin"></i>
                    </div>
                </form>
            </div>
            <div 
            class="rounded-xl p-3 ring-1 ring-gray-200 mb-1 shadow bg-white "
            id="users-list"
                hx-get="{% url 'view_partial_users_list' %}"
                hx-trigger="load"
                hx-target="#users-list"
                hx-swap="beforeend"
                >
            </div>
            
        </div>
    </main>
{% endblock %}