{% extends "frontend/base_logged_in.html" %}

{% block content %}
    <main class="grid grid-cols-12 gap-4">
        <div id="teams" class="col-span-6 py-4">
            <div class="flex gap-2 flex-col">
                <h1 class="{{ styles.heading1 }} pb-2">Teams</h1>
                <form method="post" action="" class="mb-3 flex items-center gap-1">
                    {% csrf_token %}
                    <input type="text" name="search_term" placeholder="Search Teams..." id="search-term-box" hx-post="{% url 'view_partial_teams_list' %}" hx-trigger="keyup changed delay:500ms" hx-target="#teams-list" hx-swap="innerHTML" class="{{styles.input_small}} w-max">
                </form>
            </div>
            <div 
            class="rounded-xl p-3 ring-1 ring-gray-200 mb-1 shadow bg-white "
            id="teams-list"
                hx-get="{% url 'view_partial_teams_list' %}"
                hx-trigger="load"
                hx-target="#teams-list"
                hx-swap="beforeend"
                >
            </div>
            
        </div>
        <div id="users" class="col-span-6 py-4">
            <div class="flex gap-2 flex-col">
                <h1 class="{{ styles.heading1 }} pb-2">Users</h1>
                <form method="post" action="" class="mb-3 flex items-center gap-1">
                    {% csrf_token %}
                    <input type="text" name="search_term" placeholder="Search users..." id="user-search-term-box" hx-post="{% url 'view_partial_users_list' %}" hx-trigger="keyup changed delay:500ms" hx-target="#users-list" hx-swap="innerHTML" class="{{ styles.input_small }} w-max">
                </form>
            </div>
            <div 
            class="rounded-xl p-3 ring-1 ring-gray-200 mb-1 shadow bg-white "
            id="users-list"
                hx-get="{% url 'view_partial_users_list' %}"
                hx-trigger="load"
                hx-target="#users-list"
                hx-swap="beforeend"
                >
            </div>
            
        </div>
    </main>
{% endblock %}